<template>
  <div class="account-settings">
    <h2>Account Settings</h2>
    <div class="info">
      <p><strong>Email:</strong> {{ email }}</p>
      <p>
        <strong>Location: </strong>
        <a :href="'https://www.openstreetmap.org/#map=12/' + location_addr.toString().replace(',', '/')" target="_blank"
          rel="noopener noreferrer">
          {{ location_addr }}
        </a>
      </p>

    </div>

    <div class="update-options">
      <div class="new-zip">
        <label for="newZip">New Zip Code (blank to not change location): </label>
        <input type="text" id="newZip" name="newZip" v-model="newZip">
      </div>
      <div class="time-setting">
        <label for="daytimeStart">Daytime Start: </label>
        <div class="tooltip"> (?)
          <span class="tooltiptext">When you want to start caring about the weather</span>
        </div>
        <input type="time" id="daytimeStart" v-model="daytimeStart" />
      </div>
      <div class="time-setting">
        <label for="daytimeEnd">Daytime End: </label>
        <div class="tooltip"> (?)
          <span class="tooltiptext">When you want to stop caring about the weather</span>
        </div>
        <input type="time" id="daytimeEnd" v-model="daytimeEnd" />
      </div>

      <div class="season-setting">
        <label for="currentSeason">Current Season:
        </label>
        <select v-model="currentSeason">
          <option>winter</option>
          <option>spring</option>
          <option>summer</option>
          <option>fall</option>
        </select>
      </div>

      <div class="metric-setting">
        <label for="temperatureMetric">Temperature Metric: </label>
        <select v-model="temperatureMetric">
          <option>Celsius</option>
          <option>Fahrenheit</option>
        </select>
      </div>

      <div class="precip-type-setting">
        <label for="precipType">Precipitation Setting: </label>
        <div class="tooltip"> (?)
          <span class="tooltiptext">Max: if any hour has a probability above your threshold, say there will be
            precipitation. SUM: if the sum of probabilities across all hours you care about is above your threshold, say
            there will be precipitation.</span>
        </div>
        <select v-model="precipType">
          <option>MAX</option>
          <option>SUM</option>
        </select>
      </div>

      <div class="precip-type-setting">
        <label for="precipVal">Precipitation Threshold: </label>
        <input type="text" id="precipVal" name="precipVal" v-model="precipVal">
      </div>

      <button @click="saveSettings">Save Settings</button>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { toast } from "vue3-toastify";
import "vue3-toastify/dist/index.css";

export default {
  props: {
    settingsID: {
      type: Number,
      required: true,
    }
  },
  data() {
    return {
      email: '',
      location_addr: 0,
      daytimeStart: '08:00',
      daytimeEnd: '18:00',
      currentSeason: 'spring',
      temperatureMetric: 'Celsius',
      precipType: 'MAX',
      precipVal: '50',
      newZip: ''
    };
  },
  methods: {
    async saveSettings() {
      try {
        console.log('In account ID:', this.settingsID);
        const apiUrl = process.env.VUE_APP_API_URL;
        var responses = []
        var response = await axios.post(`${apiUrl}/account/daystart`, {
          settings_id: '' + this.settingsID,
          new_start: this.daytimeStart.slice(0, 2)
        });

        responses.push(response)

        response = await axios.post(`${apiUrl}/account/dayend`, {
          settings_id: '' + this.settingsID,
          new_end: this.daytimeEnd.slice(0, 2)
        });

        responses.push(response)

        response = await axios.post(`${apiUrl}/account/precipthresh`, {
          settings_id: '' + this.settingsID,
          new_thresh: this.precipVal
        });

        responses.push(response)

        console.log(this.precipVal)

        response = await axios.post(`${apiUrl}/account/preciptype`, {
          settings_id: '' + this.settingsID,
          new_precip_type: this.precipType
        });

        responses.push(response)

        response = await axios.post(`${apiUrl}/account/season`, {
          settings_id: '' + this.settingsID,
          new_season: this.currentSeason
        });

        responses.push(response)

        const newUnits = this.temperatureMetric === 'Fahrenheit' ? 'true' : 'false';

        response = await axios.post(`${apiUrl}/account/units`, {
          settings_id: '' + this.settingsID,
          units: newUnits
        });

        responses.push(response)

        console.log(this.newZip)

        if (this.newZip !== '') {
          response = await axios.post(`${apiUrl}/account/location`, {
            settings_id: '' + this.settingsID,
            zip_code: this.newZip
          });

          responses.push(response)
        }

        let didError = false;

        for (const resp of responses) {
          if (resp.status !== 200) {
            toast.error(response.data, {
              position: toast.POSITION.TOP_RIGHT,
            });
            console.error(response);
            didError = true;
            break;
          }
        }

        if (!didError) {
          toast("Successfully changed settings!");
        }

      } catch (error) {
        console.error('Error during login:', error);
      }
    },
    async fetchAccountSettings() {
      try {
        // console.log(this.userId);
        const apiUrl = process.env.VUE_APP_API_URL;
        const response = await axios.get(`${apiUrl}/account?settings_id=${this.settingsID}`);
        console.log('response', response);

        const data = response.data;

        // Update component's state with the fetched data
        this.email = data.email || 'no data';
        this.location_addr = data.location_code || 0;
        this.daytimeStart = data.daytime_start.toString().padStart(2, '0') + ':00' || '08:00';
        this.daytimeEnd = data.daytime_end.toString().padStart(2, '0') + ':00' || '18:00';
        this.currentSeason = data.season || 'no data';
        if (data.fahrenheit == 'true') {
          this.temperatureMetric = 'Fahrenheit'
        } else {
          this.temperatureMetric = 'Celsius'
        }
        this.precipVal = data.precipitation_threshold;
        this.precipType = data.precipitation_option;

        // console.log(this.precipVal)
      } catch (error) {
        console.error('Error fetching account settings:', error);
      }
    },
  },
  mounted() {
    // fetch user data (email, location) when component mounts
    this.fetchAccountSettings();
  },
};
</script>

<style scoped>
.account-settings {
  padding: 20px;
}

.info {
  margin-bottom: 20px;
}

.update-options {
  display: flex;
  flex-direction: column;
}

.time-setting,
.season-setting,
.metric-setting {
  margin-bottom: 15px;
}

button {
  margin-top: 20px;
  background-color: #90ad77;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #7ca856;
}

/* modified from https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

input{
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 5px;
  background-color: #3b4252;
  color: #eceff4
}

select{
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 5px;
  background-color: #3b4252;
  color: #eceff4
}
</style>