<template>
    <div v-if="isVisible" class="modal-overlay">
        <div class="modal">
            <div class="modal-header">
                <h2 class="title">Add Item</h2>
                <button class="close-button" @click="closeModal">X</button>
            </div>
            <div class="modal-body">
                <div class="classification"><label for="name">Name:</label>
                    <input type="text" id="name" v-model="localItemInfo.name" placeholder="Enter item name">
                </div>

                <div class="classification"><label for="amount">Amount:</label>
                    <select id="amount" v-model="localItemInfo.total_count">
                        <option disabled value="">Please select one</option>
                        <option v-for="n in amountNumbers" :key="n" :value="n">{{ n }}</option>
                    </select>
                </div>

                <div class="classification"><label>Season:</label>
                    <div>
                        <label for="summer">
                            <input type="checkbox" id="summer" value="Summer" v-model="localItemInfo.for_summer" />
                            Summer
                        </label>
                        <label for="springautum">
                            <input type="checkbox" id="springautum" value="SpringAutum" v-model="localItemInfo.for_fall" />
                            Spring/Autum
                        </label>
                        <label for="winter">
                            <input type="checkbox" id="winter" value="Winter" v-model="localItemInfo.for_winter" />
                            Winter
                        </label>
                    </div>
                </div>
                <div class="classification"><label>Waterproof:</label>
                    <div class="checkbox-group">
                        <label for="waterproof">
                            <input type="checkbox" id="waterproof" value="Waterproof" v-model="localItemInfo.waterproof" />
                        </label>
                    </div>
                </div>
                
                <div class="classification"><label>Hooded:</label>
                    <div class="checkbox-group">
                        <label for="hooded">
                            <input type="checkbox" id="hooded" value="Hooded" v-model="localItemInfo.hooded" />
                        </label>
                    </div>
                </div>
                <div class="classification"><label>Can you wear this unlimited times without washing:
                    <div class="tooltip">?
                        <span class="tooltiptext">If you can only wear something 2 or 3 times without washing, leave this unchecked and multiply your "amount" by how many times you can wear each without washing</span>
                    </div>
                </label>
                    <div class="checkbox-group">
                        <label for="is_immune">
                            <input type="checkbox" id="is_immune" value="is_immune" v-model="localItemInfo.is_immune" />
                        </label>
                    </div>
                </div>
                <div v-if="!isEdit" class="classification"><label for="heatPoints">Heat Points:
                    <div class="tooltip">?
                        <span class="tooltiptext">Lower heat points for things like short sleeve shirts, higher for long-sleeve, highest for jackets. This is just an initial estimate, Vetero will learn over time</span>
                    </div>
                </label>
                    <select id="amount" v-model="localItemInfo.heat_points">
                        <option disabled value="">Please select one</option>
                        <option v-for="n in heatPointsNumbers" :key="n" :value="n">{{ n }}</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button v-if="isEdit" class="remove-button" @click="closeModal(), remove()">Remove Item</button>
                <button @click="submit">Submit</button>
            </div>

        </div>
    </div>
</template>
  
<script>
export default {
    props: {
        isVisible: Boolean,
        isEdit: Boolean,
        itemInfo: {
            type: Object,
            default: () => ({
                name: '',
                clothing_id: 0,
                variety: '',
                total_count: '',
                for_winter: false,
                for_summer: false,
                for_fall: false,
                waterproof: '',
                hooded: '',
                immune: '',
                heat_points: ''
            })
        }
    },
    data() {
        return {
            localItemInfo: this.isEdit ? { ...this.itemInfo } : this.getDefaultItemInfo(),
            amountNumbers: Array.from({ length: 22 }, (_, i) => i + 1),
            heatPointsNumbers: Array.from({ length: 7 }, (_, i) => i),
        };
    }, watch: {
        isVisible(newVal) {
            if (newVal) {
                this.localItemInfo = this.isEdit ? { ...this.itemInfo } : this.getDefaultItemInfo(); // Reset based on isEdit
            }
        }
    },
    methods: {
        getDefaultItemInfo() {
            return {
                name: '',
                clothing_id: 0,
                variety: '',
                total_count: '',
                for_winter: false,
                for_summer: false,
                for_fall: false,
                waterproof: '',
                hooded: '',
                immune: '',
                heat_points: ''
            };
        },
        closeModal() {
            this.$emit('close');
            if (!this.isEdit) {
                this.resetFields();
            }
        },
        remove() {
            this.$emit('remove', this.localItemInfo);
        },
        submit() {
            if (!this.isEdit) {
                if (!this.localItemInfo.name || !this.localItemInfo.total_count ||
                    this.localItemInfo.itemHeatPoints === null ) {
                    alert('Please fill in all fields.');
                    return;
                }
            } else {
                if (!this.localItemInfo.name || !this.localItemInfo.total_count) {
                    alert('Please fill in all fields.');
                    return;
                }
            }

            const itemToUpdate = { ...this.localItemInfo };
            this.$emit('submit', itemToUpdate);
            console.log("close modal in AddItemModal")

        }
        ,
        resetFields() {
            this.localItemInfo = { ...this.itemInfo };
        }
    }
};
</script>
  
<style scoped>
.classification {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: #4c566a;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    color: #eceff4;
}

.title {
    display: flex;
    margin-left: 145px;
    color: #eceff4;
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #81a1c1;
    width: 40px;
}

.close-button:hover{
    background-color: #5e81ac;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.checkbox-group {
    display: flex;
    gap: 10px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    width: 100%;
}

.remove-button {
    background-color: #be4f5a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-right: 238px;
}

.remove-button:hover {
    background-color: #d32f2f9d;
}

button {
    background-color: #90ad77;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #7ca856b0;
}

input{
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 5px;
  background-color: #3b4252;
  color: #eceff4
}

select{
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 5px;
  background-color: #3b4252;
  color: #eceff4
}

/* modified from https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  bottom: 125%;
  left: 50%;  
  margin-left: -60px;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
  
