<template>
    <div class="feedback-modal">
      <div class="comfort-panel">
        <div class="inner-panel">
          <h3>How comfortable was your outfit on {{date}}</h3>
          <div class="options">
            <button 
              v-for="option in comfortOptions" 
              :key="option.value" 
              :class="['comfort-button', { selected: selectedOption === option.value }]"
              @click="selectOption(option.value, option.response)"
            >
              <img :src="getIcon(option.icon)" alt="Emoticon" class="emoticon" />
              <span>{{ option.label }}</span>
            </button>
          </div>
          <div class="buttons">
            <button class="skip-button"  @click="skipFeedback">Skip Feedback</button>
            <button class="submit-button" :disabled="!selectedOption" @click="submitFeedback">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  import { toast } from "vue3-toastify";
  import "vue3-toastify/dist/index.css";

export default {
  props: {
    userID: {
      type: Number,
      required: true,
    },
    feedbackNeeded:{
      type: Boolean,
      required: true,
    }
  },
  data() {
    return {
      comfortOptions: [
        { value: 'too-cold', label: 'Too Cold', icon: 'too-cold.svg', response: -1 },
        { value: 'just-right', label: 'Just Right', icon: 'just-right.svg', response: 0 },
        { value: 'too-hot', label: 'Too Hot', icon: 'too-hot.svg', response: 1 }
      ],
      selectedOption: null,
      feedback: 7,
      date: 'yesterday'
    };
  },
  methods: {
    selectOption(option, response) {
      this.selectedOption = option;
      this.feedback = response;
      console.log('feedback', this.feedback);
    },
    async skipFeedback() {
      this.$emit('feedbackSubmitted');
    },
    async submitFeedback() {
      console.log("In Feedback Submitted");
      console.log('user in feedback:', this.userID);
      console.log('int in feedback:', this.feedback);
      if(this.feedback !== 7){
        await this.sendFeedback();
      }
      console.log("Feedback submitted!");
      this.$emit('feedbackSubmitted');
    },
    getIcon(icon) {
      return require(`@/assets/${icon}`);
    },
    async sendFeedback() {
      console.log("user in feedback:"+ this.userID);
      console.log("int in feedback:"+ this.feedback);
      try {
        const apiUrl = process.env.VUE_APP_API_URL;
        if (this.date === 'yesterday') {
          await this.fetchDate();
        }
        const response = await axios.post(`${apiUrl}/feedback`, {
          settings_id : '' + this.userID,
          yesterday_option : '' + this.feedback,
          date : this.date
        });

        if (response.status === 200) {
          // Emit login success if the response is OK
          this.$emit('feedback posted', this.userId);
          console.log(response);
        } else {
          console.error('Feedback failed to log', response.data);
        }
      } catch (error) {
        console.error('Error during feedback', error);
      }
    },
    async fetchDate() {
      try {
        const apiUrl = process.env.VUE_APP_API_URL;
        const response = await axios.get(`${apiUrl}/feedback/date?settings_id=${this.userID}`);

        if (response.status === 200) {
          // console.log(response);

          this.date = response.data.date;

          if (this.date === "done") {
            // console.log('feedback done');
            this.$emit('feedbackSubmitted');
          }
        } else {
          toast.error('Oops something went wrong! Please refresh')
          console.error('Failed to fetch feedback date:', response);
        }
      } catch (error) {
        console.error('Error while fetching feedback date:', error);
      }
    }
  },
  name: 'FeedbackPanel',
  mounted() {
    console.log('In feedback ID:', this.settingsID);
    this.fetchDate();
  },

};
</script>
  
<style scoped>

.feedback-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comfort-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3b4252;
  background-color: #3b4252;
  border-radius: 8px;
  width: 50%;
  height: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inner-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3b4252;
}

h3 {
  margin-bottom: 10px;
  color: #eceff4;
}

.options {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.comfort-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #4c566a;
  background-color: #4c566a;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  color:#eceff4;
}

.comfort-button.selected {
  background-color: #81a1c1;
  color: #2e3440;
}

.comfort-button img {
  width: 100%;
  height: 100%;
  margin-bottom: 25%;
}

.submit-button {
  padding: 5px 10px;
  background-color: #90ad77;
  color: #3b4252;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.skip-button {
  padding: 5px 10px;
  background-color: #5e81ac;
  color: #e5e9f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.skip-button:hover {
  background-color: #5e81acc8;
}


.submit-button:disabled {
  background-color: #434c5e;
  cursor: not-allowed;
  color: #d8dee972;
}

.submit-button:enabled:hover{
  background-color: #7ca856b0;
}

.feedback-message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0fff0;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  color: #4caf50;
  font-weight: bold;
}

.buttons{
  display: flex;
  flex-direction: row;
}
</style>
  