<template>
  <div class="title">
    <h1>Your History</h1>
  </div>


  <Line id="my-chart-id" :options="chartOptions" :data="chartData" />
</template>

<script>
import { Line } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, LineElement, CategoryScale, LinearScale, PointElement } from 'chart.js'
import axios from 'axios';

// Register necessary components with Chart.js
ChartJS.register(Title, Tooltip, Legend, LineElement, CategoryScale, LinearScale, PointElement)

export default {
  props: {
    settingsID: {
      type: Number,
      required: true,
    }
  },
  name: 'HistoryPanel',
  components: {
    Line
  },
  data() {
    return {
      chartData: {
        labels: [''], // Dates
        datasets: [
        {
            label: 'EWMA', // Fourth line: Percentage
            data: [], // Percentage y-values
            borderColor: 'rgba(255, 99, 132, 0.9)', // Line color
            backgroundColor: 'rgba(255, 99, 132, 1)', // Line fill color
            borderWidth: 4,
            fill: false, // Don't fill the area under the line
            tension: 0.3, // Smoothing curve
            yAxisID: 'y1',
            color: '#d8dee9'
          },
          {
            label: 'Actual', // First line: Cold
            data: [], // Cold y-values
            borderColor: 'rgba(163, 190, 140, 0.5)', // Line color
            backgroundColor: 'rgba(163, 190, 140, 0.6)', // Line fill color
            borderWidth: 4,
            fill: false, // Don't fill the area under the line
            tension: 0.3, // Smoothing curve
            yAxisID: 'y',
            color: '#d8dee9'
          },
          {
            label: 'Expected', // Second line: Right
            data: [], // Right y-values
            borderColor: 'rgba(136, 192, 208, 0.5)', // Line color
            backgroundColor: 'rgba(136, 192, 208, 0.6)', // Line fill color
            borderWidth: 4,
            fill: false, // Don't fill the area under the line
            tension: 0.3, // Smoothing curve
            yAxisID: 'y',
            color: '#d8dee9'
          },
        ]
      },
      chartOptions: {
        responsive: true,
        iteraction: {
          mode: 'index',
          intersect: false,
        },
        stacked: false,
        scales: {
          y: {
            type: 'linear',
            display: true,
            position: 'left',
            title: {
              display: true,
              text: "Actual vs Expected",
              color: '#d8dee9'
            },
            ticks: {
              color: '#d8dee9',
              font: {
                size: 12,
              }
            },
            grid: {
              color: '#d8dee9'
            },
          },
          y1: {
            type: 'linear',
            display: true,
            position: 'right',
            title: {
              display: true,
              text: "Percent Correct",
              color: '#d8dee9'
            },
            ticks: {
              color: '#d8dee9', 
              font: {
                size: 12, 
              }
            },
            // grid line settings
            grid: {
              drawOnChartArea: false, // only want the grid lines for one axis to show up
              color: '#d8dee9'
            },
          },
          x: {
            title: {
              display: true,
              text: 'Date',
              color: '#d8dee9', 
              font: {
                size: 14,
              }
            },
            ticks: {
              color: '#d8dee9',
              font: {
                size: 12, 
              }
            },
            grid: {
              color: '#d8dee9', 
              lineWidth: 1, 
            }
          },
        },
        plugins: {
          legend: {
            labels: {
              color: '#d8dee9', 
            }
          }
        }
      }
    }
  },
  methods: {
    async getHistory() {
      try {
        const apiUrl = process.env.VUE_APP_API_URL;
        const response = await axios.get(`${apiUrl}/history?settings_id=${this.settingsID}`);
        console.log('history response: ', response);

        if (response.status === 200) {
          let lastNumber = 0;

          // Temporary arrays to store new values
          const labels = [];
          const actualData = [];
          const expectedData = [];
          const percentageData = [];

          for (const day of response.data) {
            if (day.actual === -100) {
              continue;
            }
            labels.push(day.date);
            actualData.push(day.actual);
            expectedData.push(day.expected);

            // Calculate the EWMA up to this day
            if (day.actual === day.expected) {
              lastNumber = 0.95 * lastNumber + 0.05;
            } else {
              lastNumber = 0.95 * lastNumber;
            }

            percentageData.push(Number(lastNumber.toFixed(2)));
          }

          // Update reactive properties in one operation
          this.chartData = {
            ...this.chartData,
            labels,
            datasets: [
              { ...this.chartData.datasets[0], data: percentageData },
              { ...this.chartData.datasets[1], data: actualData },
              { ...this.chartData.datasets[2], data: expectedData },
            ]
          };

          console.log('labels: ', this.chartData.labels);
          console.log('actual: ', actualData);
          console.log('expected: ', expectedData);
          console.log('percentages: ', percentageData);

        } else {
          console.error('Failed to fetch history data:', response.data);
        }
      } catch (error) {
        console.error('Error while fetching history data:', error);
      }
    }
  },
  mounted() {
    console.log('in history settings id: ', this.settingsID);
    this.getHistory();
  }
}
</script>

<style scoped>
.title {
  font-family: Arial, sans-serif;
  text-align: center;
}
</style>