<template>
  <div class="login-page">
    <div class="heading">
        <img src="@/assets/vetero-logo.png" alt="Vetero Logo" class="vetero-logo" />
  </div>
    <h2>Login</h2>
    <form @submit.prevent="login">
      <input v-model="email" placeholder="Email" required />
      <input v-model="password" type="password" placeholder="Password" required />
      <div class="buttons">
        <button type="submit">Login</button>
        <button type="button" @click="signUp">Sign Up</button>
      </div>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
import { toast } from "vue3-toastify";
import "vue3-toastify/dist/index.css";

export default {
  inject: ['userId'],
  mounted() {
    console.log('User ID:', this.userId);
  },
  data() {
    return {
      email: '',
      password: ''
    };
  },
  methods: {
    async login() {
      try {
        const apiUrl = process.env.VUE_APP_API_URL;
        const response = await axios.post(`${apiUrl}/account/login`, {
          email: this.email,
          password: this.password
        });

        if (response.status === 200) {
          this.userId = response.data.settings_id;
          console.log('ID: ', this.userId);
          // Emit login success if the response is OK
          this.$emit('login-success', this.userId);
          console.log(response);
        } else {
          console.log('failed to login');
          toast.error("Error Notification !", {
            position: toast.POSITION.TOP_RIGHT,
          });
        }
      } catch (error) {
        toast.error(error.response.data, {
          position: toast.POSITION.TOP_RIGHT,
        });
        console.error(error);
      }
    },
    async signUp() {
      // Handle sign-up logic or navigation to the sign-up page
      console.log("Sign-up clicked");

      try {
        const apiUrl = process.env.VUE_APP_API_URL;
        const response = await axios.post(`${apiUrl}/account/register`, {
          email: this.email,
          password: this.password
        });
        if(response.status === 200) {
          this.userId = response.data.settings_id;
          console.log('User registered successfully. Settings ID:', this.userId);
          this.$emit('login-success', this.userId);
          this.$emit('page-on-load','AccountSettings'); //Redirect to account settings to let the user update their settings
        }
        else {
          console.error('Registration failed:', response.data);
        }
      }
      catch (error) {
        toast.error(error.response.data, {
          position: toast.POSITION.TOP_RIGHT,
        });
        console.error(error);
      }

    }
  }
};
</script>

<style scoped>

.vetero-logo {
  height: 60px; 
  width: auto;  /* Maintains aspect ratio */
  margin-bottom: 10%;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20%;
}

.linput-fields {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

h2{
  color: #eceff4;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button{
  margin-right: 5px;
  background-color: #81a1c1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

input{
  border: none;
  border-radius: 5px;
  padding: 10px;
}

button:hover{
  background-color: #5e81ac;
}
</style>


