<template>
  <div v-if="feedback">
    <FeedbackPanel @feedbackSubmitted="closeFeedbackPanel" :userID="settingsID" :feedbackNeeded="feedbackNeeded"></FeedbackPanel>
  </div>
  <div v-else class="outfit-content" >
    <h1>Outfit Details</h1>
    <div v-if=fit class="outfit">
      <div v-for="(value, key) in outfit" :key="key" class="item">
        <div class="category">
          {{ key }}
        </div>
        <div class="box">
          {{ value }}
        </div>
      </div> 
    </div> 
    <div v-else class="no-outfit">
      <h1>No Outfit for Today</h1>
      <h2>Make sure you have added clothes to your wardrobe</h2>
    </div>  
  </div>
</template>
  
<script>
  import FeedbackPanel from './FeedbackPanel.vue';
  import axios from 'axios';
  import { toast } from "vue3-toastify";
  import "vue3-toastify/dist/index.css";

  export default {
    components: {
      FeedbackPanel
    },
    props:{
      settingsID:{
        type: Number,
        required: true,
      },
      
      feedbackNeeded: {type: Boolean, Required: true,}
    },
    data() {
      return {
        isEmpty: false,
        baseshirt: 'none',
        pants: 'none',
        shoes: 'none',
        baseleg: 'none',
        outershirt: 'none',
        outerleg: 'none',
        hat: 'none',
        gloves: 'none',
        socks: 'none',
        shirt: 'none',
        scarf: 'none',
        midshirt: 'none',
        feedback: this.feedbackNeeded,
        fit: false,
        outfit: null
      };
    },
    methods:{
      async refreshOutfit() {
        await this.getOutfit();
        this.outputOutfit();
        this.fit = Object.keys(this.outfit).length > 0; // Ensure fit is updated
      },
      outputOutfit(){

        // console.log("outOuter", this.outershirt);

        const baseOutfit = {
        "baseshirt": this.baseshirt,
        "pants": this.pants,
        "shoes": this.shoes,
        "baseleg": this.baseleg,
        "outershirt": this.outershirt,
        "outerleg": this.outerleg,
        "hat": this.hat,
        "gloves": this.gloves,
        "socks": this.socks,
        "shirt": this.shirt,
        "scarf": this.scarf,
        "midshirt": this.midshirt
        }

        // console.log("base", baseOutfit);
        
        this.outfit =  Object.fromEntries(
          Object.entries(baseOutfit).filter(([, value]) => value !== 'none')
        );
      },
      async closeFeedbackPanel(){
        // console.log("close panel!");
        this.feedback = false;
        this.$emit("NeedFeedback", false);

        await this.refreshOutfit();
      },
      async getOutfit() {
      try {
        const apiUrl = process.env.VUE_APP_API_URL;
        const response = await axios.get(`${apiUrl}/outfit?settings_id=${this.settingsID}`);

        if (response.status === 200) {
          console.log(response);

          this.baseshirt = response.data.baseshirt;
          this.outershirt = response.data.outershirt;
          this.shoes = response.data.shoes;
          this.hat = response.data.hat;
          this.baseleg = response.data.baseleg;
          this.gloves = response.data.gloves;
          this.outerleg = response.data.outerleg;
          this.socks = response.data.socks;
          this.pants = response.data.pants;
          this.shirt = response.data.shirt;
          this.scarf = response.data.scarf;
          this.midshirt = response.data.midshirt;

          // console.log('outer', this.outershirt);

        } else {
          toast.error('Failed to fetch outfit, sorry!');
          console.error('Failed to fetch outfit:', response.data);
        }
      } catch (error) {
        toast.error('Error while fetching outfit, sorry!');
        console.error('Error while fetching outfit:', error);
      }
    },

    },
    mounted() {
      this.feedback = this.feedbackNeeded;
      // console.log('User ID:', this.settingsID);
    },
    activated() {
      // console.log('outfitpanel Component activated');
      // console.log("feedback: ", this.feedback);
      if (!this.feedback) {
        this.refreshOutfit();
      }
    },
    name: 'OutfitPanel'
  };
  </script>
  
  <style scoped>
.outfit-content {
  text-align: center;
  padding: 20px;
}

.outfit {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  justify-items: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.category {
  font-weight: bold;
  margin-bottom: 10px;
}

.box {
  padding: 10px 20px;
  background-color: #3b4252;
  border-radius: 15px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  color: #eceff4;
}

</style>

  