<template>
    <header class="header">
      <!--Logo-->
      <div class="heading">
        <img src="@/assets/vetero-logo.png" alt="Vetero Logo" class="vetero-logo" />
      </div>
      <div class="menu-container">
        <!--Menu for switching panels-->
        <div class="menu">
          <p
            :class="{ active: selectedTab === 'Outfit of the day' }"
            @click="selectContent('Outfit of the day')">Outfit of the day</p>
          <p 
            :class="{ active: selectedTab === 'Wardrobe' }"
            @click="selectContent('Wardrobe')">Wardrobe</p>
          <p 
            :class="{ active: selectedTab === 'History' }"
            @click="selectContent('History')">History</p>
        </div>
      </div>
      <!--Standard profile pic-->
      <div class="user-profile">
        <img class="profile-pic" @click="openProfileMenu" src= '@/assets/profilePic.svg' alt="User Profile">
      </div>
    </header>
    <div v-if = "visibleMenu" class="profileMenu">
      <p class="menuOption" @click="handleAccountClick">Account</p>
      <button class="logOut" @click="logOut">Log Out</button>
    </div>
  </template>
  
  <script>
 
  export default {
    props:{
      settingsID:{
        type: Number,
        required: true,
      }
    },
    data(){
      return{
        visibleMenu: false
      }
    },
    methods: {
      selectContent(content) {
        this.$emit('tab-selected', content);
      },
      openProfileMenu(){
        console.log("in header ID:", this.settingsID);
        this.visibleMenu = !this.visibleMenu;
      },
      handleAccountClick() {
      this.selectContent('Account'); 
      this.$emit('accountSettings', 'AccountSettings');
    },
      logOut(){
        this.$emit('logOut', false);
      }
    }
  };
  </script>
  
  <style scoped>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2e3440;
    top: 0px;
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
  }
  
  .user-profile .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .menu-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu {
  width: 66.66%;
  display: flex;
  justify-content: space-around;
  background-color: #2e3440;
  padding: 10px;
}

.menu p {
  cursor: pointer;
  margin: 0;
  padding: 10px 20px;
  color: #eceff4;
}

.menu p:hover {
  color:#e5e9f0;
}

.menu p:active{
  color:#d8dee9;
}

.primary{
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.profileMenu{
  position: absolute;
  right: 0%;
  padding: 2%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  height: 15%;
  width: 10%;
  background-color: #2e3440;
  color: #eceff4;
}

.logOut{
  margin-top: 20%;
  margin-bottom: 10%;
  background-color:#bf616a;
  color: #eceff4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 25%;
}

.logOut:hover{
  background-color:#bd4444;
  ;
}

.menuOption{
  color: #d8dee9ad;
}

.menuOption:hover{
  color:#eceff4;
}

.vetero-logo {
  height: 40px;
  width: auto;  /* Maintains aspect ratio */
}


  </style>
  