<template>
  <div class="wardrobe-panel">
    <h1>Your Wardrobe</h1>
    <button class ="laundry" @click="washClothes()">Do laundry</button>
    <div class="boxes-container">
      <!-- Shirts Box -->
      <div class="box">
        <div class="box-header">
          <h2>Shirts</h2>
          <button @click="openModal('shirt')">+</button>
        </div>
        <div class="items-container">
          <div class="items-wrapper">
            <div class="item" v-for="(item, index) in shirt" :key="index">{{ item.name }}
              <button @click="openEditItem(item)">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Pants Box -->
      <div class="box">
        <div class="box-header">
          <h2>Pants</h2>
          <button @click="openModal('pants')">+</button>
        </div>
        <div class="items-container">
          <div class="items-wrapper">
            <div class="item" v-for="(item, index) in pants" :key="index">{{ item.name }}
              <button @click="openEditItem(item)">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Socks Box -->
      <div class="box">
        <div class="box-header">
          <h2>Socks</h2>
          <button @click="openModal('socks')">+</button>
        </div>
        <div class="items-container">
          <div class="items-wrapper">
            <div class="item" v-for="(item, index) in socks" :key="index">{{ item.name }}
              <button @click="openEditItem(item)">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Shoes Box -->
      <div class="box">
        <div class="box-header">
          <h2>Shoes</h2>
          <button @click="openModal('shoes')">+</button>
        </div>
        <div class="items-container">
          <div class="items-wrapper">
            <div class="item" v-for="(item, index) in shoes" :key="index">{{ item.name }}
              <button @click="openEditItem(item)">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Jackets Box -->
      <div class="box">
        <div class="box-header">
          <h2>Jackets/Coats</h2>
          <button @click="openModal('outershirt')">+</button>
        </div>
        <div class="items-container">
          <div class="items-wrapper">
            <div class="item" v-for="(item, index) in outershirt" :key="index">{{ item.name }}
              <button @click="openEditItem(item)">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Middle layers Box -->
      <div class="box">
        <div class="box-header">
          <h2>Middle layers
          </h2>
          <div class="tooltip">?
            <span class="tooltiptext">Something you wear over a shirt, but under a jacket/coat</span>
          </div>
          <button @click="openModal('midshirt')">+</button>
        </div>
        <div class="items-container">
          <div class="items-wrapper">
            <div class="item" v-for="(item, index) in midshirt" :key="index">{{ item.name }}
              <button @click="openEditItem(item)">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Hats Box -->
      <div class="box">
        <div class="box-header">
          <h2>Hats</h2>
          <button @click="openModal('hat')">+</button>
        </div>
        <div class="items-container">
          <div class="items-wrapper">
            <div class="item" v-for="(item, index) in hat" :key="index">{{ item.name }}
              <button @click="openEditItem(item)">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Gloves Box -->
      <div class="box">
        <div class="box-header">
          <h2>Gloves</h2>
          <button @click="openModal('gloves')">+</button>
        </div>
        <div class="items-container">
          <div class="items-wrapper">
            <div class="item" v-for="(item, index) in gloves" :key="index">{{ item.name }}
              <button @click="openEditItem(item)">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Scarves Box -->
      <div class="box">
        <div class="box-header">
          <h2>Scarves</h2>
          <button @click="openModal('scarf')">+</button>
        </div>
        <div class="items-container">
          <div class="items-wrapper">
            <div class="item" v-for="(item, index) in scarf" :key="index">{{ item.name }}
              <button @click="openEditItem(item)">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Baseshirts Box -->
      <div class="box">
        <div class="box-header">
          <h2>Base Shirts</h2>
          <button @click="openModal('baseshirt')">+</button>
        </div>
        <div class="items-container">
          <div class="items-wrapper">
            <div class="item" v-for="(item, index) in baseshirt" :key="index">{{ item.name }}
              <button @click="openEditItem(item)">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Baselegs Box -->
      <div class="box">
        <div class="box-header">
          <h2>Base Legs</h2>
          <button @click="openModal('baseleg')">+</button>
        </div>
        <div class="items-container">
          <div class="items-wrapper">
            <div class="item" v-for="(item, index) in baseleg" :key="index">{{ item.name }}
              <button @click="openEditItem(item)">Edit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Outer Pants Box -->
      <div class="box">
        <div class="box-header">
          <h2>Outer Pants</h2>
          <button @click="openModal('outerleg')">+</button>
        </div>
        <div class="items-container">
          <div class="items-wrapper">
            <div class="item" v-for="(item, index) in outerleg" :key="index">{{ item.name }}
              <button @click="openEditItem(item)">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <AddItemModal :isVisible="modalVisible" :isEdit="isItemEdit" :itemInfo="currentItemInfo" @close="closeModal"
      @submit="addItemToCategory" @remove="removeItemFromCategory" />
  </div>
</template>

<script>
import axios from 'axios';
import AddItemModal from './AddItemModal.vue';
import { toast } from "vue3-toastify";
import "vue3-toastify/dist/index.css";

export default {
  components: {
    AddItemModal
  },
  props:{
    settingsID:{
        type: Number,
        required: true,
      }
    },
  data() {
    return {
      shirt: [],
      pants: [],
      shoes: [],
      baseleg: [],
      baseshirt: [],
      outershirt: [],
      outerleg: [],
      hat: [],
      gloves: [],
      socks: [],
      scarf: [],
      midshirt: [],
      modalVisible: false,
      isItemEdit: false,
      currentCategory: '',
      currentItemInfo: '',
    };
  },
  methods: {
    openModal(category) {
      this.currentCategory = category;
      this.modalVisible = true;
    },
    closeModal() {
      this.isItemEdit = false;
      this.modalVisible = false;
    },
    openEditItem(item) {
      this.isItemEdit = true;
      this.currentItemInfo = item;
      this.openModal(this.currentCategory);
    },
    resetClothing(){
      this.shirt= [];
      this.pants= [];
      this.shoes= [];
      this.baseleg= [];
      this.baseshirt= [];
      this.outershirt= [];
      this.outerleg= [];
      this.hat= [];
      this.gloves= [];
      this.socks= [];
      this.scarf = [];
      this.midshirt = [];
    },
    async removeItemFromCategory(itemInfo) {
      try {
        //check if it exist
        const exists = await this.checkIfExistingItem(itemInfo);
        if (exists) {
          const itemToDelete = await this.getExistingItem(itemInfo);
          await this.deleteItem(itemToDelete);
        }
      } catch (error) {
        console.error('Error during removeItemFromCategory:', error);
      }
    },
    async deleteItem(itemToDelete) {
      try {
        const apiUrl = process.env.VUE_APP_API_URL;
        const response = await axios.post(`${apiUrl}/clothes/delete`,
        {
          settings_id: '' + this.settingsID,
          clothing_id: '' + itemToDelete.clothing_id
        });
        if (response.status === 200) {
          this.$emit('item-deleted-successfully');
          toast(`${itemToDelete.name} successfully deleted`);
        } else {
          toast.error(response.data, {
            position: toast.POSITION.TOP_RIGHT,
          });
          console.error(response);
        }
      } catch (error) {
        toast.error(error.response.data, {
          position: toast.POSITION.TOP_RIGHT,
        });
        console.error(error);
      }
      this.fetchClothing();
    },
    async getExistingItem(itemInfo) {
      try {
        const apiUrl = process.env.VUE_APP_API_URL;
        const response = await axios.get(`${apiUrl}/clothes?settings_id=${this.settingsID}`);
        const clothingItems = response.data;
        //getting item 
        return clothingItems.find(item => item.name === itemInfo.name);
      } catch (error) {
        console.error('Error during getExistingItem:', error);
      }
    },
    async addItemToCategory(itemInfo) {
      try {
        //look for exsiting item in array to edit
        const exists = await this.checkIfExistingItem(itemInfo);

        if (this.isItemEdit) {
          // If the item exists in array
          if (exists) {
            await this.editItem(itemInfo);
          } else {
            alert('Item does not exist');
          }
        }
        else {
          // if adding new item, but it has the same name as an existing item then alert
          if (exists) {
            alert('Item with this name already exists, please use a different name');
            return;
          } else {
            //new item is being added
            await this.addItem(itemInfo);
          }
        }
      } catch (error) {
        toast.error(error.response.data, {
          position: toast.POSITION.TOP_RIGHT,
        });
        console.error(error);
      } finally {
        this.closeModal();
      }
    },
    async checkIfExistingItem(itemInfo) {
      try {
        const apiUrl = process.env.VUE_APP_API_URL;
        const response = await axios.get(`${apiUrl}/clothes?settings_id=${this.settingsID}`);
        const clothingItems = response.data;
        return clothingItems.some(item => item.clothing_id === itemInfo.clothing_id);
      } catch (error) {
        console.error('Error during checkIfExistingItem:', error);
      }
    },
    async editItem(itemInfo) {
      try {
        const apiUrl = process.env.VUE_APP_API_URL;
        const response = await axios.post(`${apiUrl}/clothes/edit`, itemInfo);
        if (response.status === 200) {
          this.$emit('item-edited-successfully');
          toast(`${itemInfo.name} edited successfully`);
        } else {
          toast.error(response.data, {
            position: toast.POSITION.TOP_RIGHT,
          });
          console.error(response);
        }
      } catch (error) {
        toast.error(error.response.data, {
          position: toast.POSITION.TOP_RIGHT,
        });
        console.error(error);
      }
    },
    async addItem(itemInfo) {
      try {
        const apiUrl = process.env.VUE_APP_API_URL;
        const payload = this.convertItemToClothingStruct(itemInfo);
        const response = await axios.post(`${apiUrl}/clothes/add`, payload);
        if (response.status === 200) {
          this.$emit('item-added-successfully');
          // console.log('Item added:', response);
        } else {
          console.error('Item add failed:', response.data);
        }
      } catch (error) {
        console.error('Error during addItem:', error);
      } finally{
        this.fetchClothing();
      }
    },
    convertItemToClothingStruct(itemInfo) {
      return {
        settings_id: this.settingsID,
        name: itemInfo.name,
        variety: this.currentCategory,
        heat_points: itemInfo.heat_points,
        waterproof: itemInfo.waterproof,
        hooded: itemInfo.hooded,
        for_fall: itemInfo.for_fall,
        for_summer: itemInfo.for_summer,
        for_winter: itemInfo.for_winter,
        total_count: itemInfo.total_count,
        remaining_count: itemInfo.total_count,
        is_immune: itemInfo.is_immune
      };
    },
    inSeason(season, itemInfo) {
      const seasons = itemInfo.itemSeason.map(s => s.toLowerCase());
      if (season === 'Fall') {
        return seasons.includes('springautum');
      }
      return seasons.includes(season.toLowerCase());
    },
    async fetchClothing() {
      this.resetClothing();
      try {
        const apiUrl = process.env.VUE_APP_API_URL;
        const response = await axios.get(`${apiUrl}/clothes?settings_id=${this.settingsID}`);
        // console.log('response', response)

        const data = response.data;

        for (const item of data) {
          if (item.name === 'none') {
            continue;
          }
          if (item.variety === 'shirt') {
              this.shirt.push(item);
          } else if (item.variety === 'pants') {
              this.pants.push(item);
          } else if (item.variety === 'shoes') {
              this.shoes.push(item);
          } else if (item.variety === 'baseleg') {
              this.baseleg.push(item);
          } else if (item.variety === 'baseshirt') {
              this.baseshirt.push(item);
          } else if (item.variety === 'outershirt') {
              this.outershirt.push(item);
          } else if (item.variety === 'outerleg') {
              this.outerleg.push(item);
          } else if (item.variety === 'hat') {
              this.hat.push(item);
          } else if (item.variety === 'gloves') {
              this.gloves.push(item);
          } else if (item.variety === 'socks') {
              this.socks.push(item);
          } else if (item.variety === 'scarf') {
              this.scarf.push(item);
          } else if (item.variety === 'midshirt') {
              this.midshirt.push(item);
          } 
        }

        console.log(this.hat)
      } catch (error) {
        console.error('Error fetching clothing: ', error);
      }
    },
    // wash_clothing axios method
    async washClothes() {
      try {
        const apiUrl = process.env.VUE_APP_API_URL;
        const payload = {
          settings_id: '' + this.settingsID
        };
        const response = await axios.post(`${apiUrl}/clothes/wash`, payload);
        if(response.status === 200) {
          console.log('Clothes washed successfully:', response.data);
          toast("Successfully washed clothes!");
          this.$emit('wash-success');
        }
        else {
          toast.error("Error washing clothes, please wait and try again");
          console.error('Washing clothes failed:', response.data);
        }
      }
      catch (error) {
        toast.error("Error washing clothes, please wait and try again");
        console.error('Error during washing clothes:', error);
      }
    }
  },
  mounted() {
    this.fetchClothing();
  }
};
</script>

<style scoped>
.wardrobe-panel {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 80vh;
  overflow-y: auto;
}

.boxes-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  
  background-color:#3b4252;
}

.laundry{
  margin-bottom: 15px;
  margin-top: -8px;
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.box-header h2 {
  margin: 0;
}

button {
  background-color: #81a1c1;
  color: #2e3440;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #5e81ac;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px 0;
}


.items-container {
  /* entire container for items in category*/
  overflow-y: auto;
  max-height: 200px;
  padding: 5px 0;
}

.items-wrapper {
  /* row container for items in category*/
  display: flex;
  flex-wrap: wrap;
}

.item {
  /* container of item itself*/
  width: calc(20% - 10px);
  /* max width of 5 items per row*/
  margin: 5px;
  padding: 15px 10px;
  border-radius: 5px;
  background-color: #2e3440;
  box-sizing: border-box;
}

/* scroll bar for clothing category container*/
.items-container::-webkit-scrollbar {
  width: 8px;
}

.items-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.items-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* modified from https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
