<template>
  <div class="weather-panel">
    <h1>Today's Weather</h1>
    <img :src="getIcon(iconPhrase)" alt="Weather Icon" class="weather-icon" />
    <p class="descriptive-text">{{ iconPhrase }}</p>
    <p class="descriptive-text">Average Temperature:</p>
    <h1 class="main-number">{{ avgTemperature }} {{ units }}</h1>
    <p v-if="avgPrecipitation" class="descriptive-text">There will be precipitation today</p>
    <p v-else class="descriptive-text">There will be no precipitation today</p>

  </div>
</template>

<script>
import axios from 'axios';

export default {
  props: {
    settingsID: {
      type: Number,
      required: true,
    }
  },
  data() {
    return {
      iconPhrase: "",
      avgTemperature: "0",
      avgPrecipitation: false,
      units: "°C",
      weatherDescription: ""
    };
  },
  methods: {
    async getWeatherData() {
      try {
        const apiUrl = process.env.VUE_APP_API_URL;
        const response = await axios.get(`${apiUrl}/weathersumm?settings_id=${this.settingsID}`);

        if (response.status === 200) {
          console.log(response);

          this.iconPhrase = response.data.forecast_phrase;
          this.avgPrecipitation = response.data.precip_bool;
          if (response.data.fahrenheit) {
            this.units = '°F';
            this.avgTemperature = Math.round((response.data.avg_temp * 9 / 5) + 32);
          } else {
            this.units = '°C';
            this.avgTemperature = response.data.avg_temp.toFixed(1);
          }

        } else {
          console.error('Failed to fetch weather data:', response.data);
        }
      } catch (error) {
        console.error('Error while fetching weather data:', error);
      }
    },
    getIcon(iconPhrase) {
        //Grouping NWS short phrases on these major categories
        this.iconPhrase = iconPhrase.toLowerCase();
        if (this.iconPhrase.includes('partly sunny') || this.iconPhrase.includes('mostly cloudy') || this.iconPhrase.includes('partly cloudy') ||this.iconPhrase.includes('becoming cloudy') || this.iconPhrase.includes('clearing') || this.iconPhrase.includes('decreasing clouds') ){
          this.weatherDescription = 'Partly Sunny';
        } else if(this.iconPhrase.includes('sunny') || this.iconPhrase.includes('clear')) { 
          this.weatherDescription = 'Sunny'; 
        } else if (this.iconPhrase.includes('rain') || this.iconPhrase.includes('drizzle') || this.iconPhrase.includes('sprinkles')) { 
          this.weatherDescription = 'Rainy'; 
        } else if (this.iconPhrase.includes('cloud') || this.iconPhrase.includes('fog') || this.iconPhrase.includes('smoke') || this.iconPhrase.includes('haze')) { 
          this.weatherDescription = 'Cloudy'; 
        } else if (this.iconPhrase.includes('snow') || this.iconPhrase.includes('flurries') || this.iconPhrase.includes('wintry') ||this.iconPhrase.includes('frost') || this.iconPhrase.includes('freez')) { 
          this.weatherDescription = 'Snowy'; 
        } else if (this.iconPhrase.includes('storm') || this.iconPhrase.includes('hurricane') ) { 
          this.weatherDescription = 'Storm'; 
        } else { 
          this.weatherDescription = 'Unspecified weather'; } // Fallback bcs NWS has too many

      switch (this.weatherDescription) {
        case 'Sunny':
          return require('@/assets/sun.svg');
        case 'Partly Sunny':
          return require('@/assets/cloud-sun.svg')
        case 'Cloudy':
          return require('@/assets/cloud.svg');
        case 'Rainy':
          return require('@/assets/rain.svg');
        case 'Storm':
          return require('@/assets/thunderstorm.svg');
        case 'Snowy':
          return require('@/assets/snow.svg');
        default:
          return require('@/assets/everything.svg');  // Fallback for unknown phrases
      }
    },
  },
  
  mounted() {
      console.log('In weather ID:', this.settingsID);
      this.getWeatherData();
    },
};
</script>

<style scoped>
html, template, body{
  margin:0;
  padding:0;
  height:100%;
  top:0;
}

.weather-icon {
  width: 50%;
  height: 50%;
}

.weather-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;;
}

h1 {
  text-align: center;
}
</style>