<template>
  <div class="app-container">
    <PageHeader v-if="isLoggedIn" @tab-selected="updateContent" @logOut="handleLogOut" @accountSettings="updateContent" :settingsID="userID"/> <!--render header if isLoggedIn is true-->
    <LoginPage v-else @login-success="handleLogin" @page-on-load="updateContent"/> <!--render login page if isLoggedIn is false-->    
    <div class="main-layout" v-if="isLoggedIn"><!--render what is inside main layout if isLoggedIn is true-->
      <div class="left-column" v-if="isLoggedIn"> 
        <div class="menu-container">
          <WeatherPanel :settingsID="userID"></WeatherPanel>
        </div>
      </div>
      <!--Outfit content: Wardrobe, Outfit of the Day, Feedback-->
      <div class="right-column">
        <keep-alive>
          <component :is="currentComponent" :settingsID="userID" :feedbackNeeded="feedback" @NeedFeedback="FeedbackSubmitted"/>
        </keep-alive>
      </div>
    </div> 
    <div class="Footer" v-if="isLoggedIn">
      <p>
        ZIP to location data from 
        <a href="https://www.geonames.org/">GeoNames</a>    
      </p>
      <p>
        Icons from <a href="https://www.iconfinder.com/amoghdesign">amoghdesign</a>, <a href="https://iconscout.com/contributors/elmirag/icons">Elmira Gokoryan</a>, and <a href="https://fluentemoji.com/">Fluentmoji</a>
      </p>
      <p>
        Logo adapted from <a href="https://github.com/vlang/v-logo/blob/master/LICENSE">V</a>
      </p>
      <p>
        Want to speak to the manager? Improve something? Make it so in our <a href="https://gitlab.com/1ethanhansen/Vetero">GitLab</a>
      </p>
      </div>  
  </div>
</template>

<script>
import PageHeader from './components/PageHeader.vue';
import WeatherPanel from './components/WeatherPanel.vue';
import WardrobePanel from './components/WardrobePanel.vue';
import OutfitPanel from './components/OutfitPanel.vue';
import LoginPage from './components/LoginPage.vue'; 
import AccountSettings from './components/AccountSettings.vue'; 
import HistoryPanel from './components/HistoryPanel.vue';



export default {
  components: {
    PageHeader,
    WeatherPanel,
    WardrobePanel,
    OutfitPanel,
    LoginPage,
    AccountSettings,
    HistoryPanel
  },
  data() {
    return {
      feedback : true,
      selectedContent: 'OutfitPanel',
      userID: -1,
      isLoggedIn: false, //isLoggedIn is set to false by default (can change this based on cookie?)
      weatherData: {
        iconPhrase: "Sunny",
        avgTemperature: "21°C",
        avgPrecipitation: "5"
      }
    };
  },
  computed: {
    currentComponent() {
      if (!this.isLoggedIn) return null;
      switch (this.selectedContent) {
        case 'Outfit of the day':
          return 'OutfitPanel';
        case 'Wardrobe':
          return 'WardrobePanel';
        case 'Feedback':
          return 'FeedbackPanel';
        case 'Account':
          return 'AccountSettings';
        case 'History':
          return 'HistoryPanel';
        default:
          return null;
      }
    }
  },
  methods: {
    FeedbackSubmitted(){
      this.feedback = false;
    },
    updateContent(content) {
      if (content === 'AccountSettings') {
      this.selectedContent = 'Account'; 
    } else {
      this.selectedContent = content;
    }
    },
    handleLogin(userId) {
      this.userID = userId;
      this.isLoggedIn = true; // isLoggedIn is set to true as response to LoginPage emitting 'login-success'
      console.log('handled login', this.userID);
    },
    handleLogOut(){
      this.isLoggedIn = false;
    }
  }
};
</script>

<style scoped>

html, template, body{
  margin:0;
  padding:0;
  height:100%;
  background-color: #2e3440;
}

.app-container {
  font-family: Arial, sans-serif;
  top: 0;
  left: 0;
  right: 0;
  margin:0;
  padding:0;
  position: relative;
  background-color: #2e3440;
}

.main-layout {
  display: flex;
  margin-top: 10px;
}

.left-column {
  flex: 1;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  background-color: #4c566a;
}

.menu-container {
  flex: 1;
  margin-bottom: 20px;
  background-color: #4c566a;
}

.extra-space {
  flex: 2;
}

.right-column {
  flex: 3;
  padding-left: 20px;
  background-color: #4c566a;
  margin-right: 15px;
}

.main-layout > div {
  background-color: #4c566a;
  padding: 20px;
  border-radius: 10px;
  margin-left: 15px;
  color: #e5e9f0;
}

.Footer{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  background-color: #4c566a;
  color: #e5e9f0;
  padding: 5%;
  border-radius: 10px;
  margin: 15px;
}

@media (min-width: 768px) {
  .left-column {
    flex: 1;
  }
  .right-column {
    flex: 3;
  }
}
</style>
